body {
	background-color: #C8FEBD;
	margin: 0;
}


em {
	text-decoration: none;
	opacity: 0;
	color: blue;
	float: right;
}

/*Верх страницы*/
#head {
	position: relative;
	background: url(../image/green.jpg) no-repeat;
	background-size: 100%;
	left: 0;
	top: 0;
	padding: 10px;
}

#headMenu {
	background-color: white;
	border-bottom: 1px solid black;
	margin-bottom: 1%;
/*	padding: 10px;*/
/*	padding-right: 15px;*/
	box-shadow: 0 0 0,2px 0 2px #d5d5d5,
					-2px 0 2px #d5d5d5,
					0 2px 2px #d5d5d5;
}

.headMenu {
	padding-left: 18%;
}

.left {
	float: left;
}

.top {
	left: 0;
	border: 1px solid black;
	display: inline;
}

.top:hover {
	position: relative;
	align-self: center;
	cursor: pointer;
	background-color: red;
}

.rightMenu {
	min-width: 10%;
	max-width: 15%;
	padding-left: 20px;
	float: left;

}
.userImage img {
	float: left;
	height: 40px;
	width: 40px;
	margin-right: 5px;
	border-radius: 30px;
}

td img {
	padding: 5px;
	float: left;
	height: 30px;
	margin-right: 5px;
	width: 30px;
}

.center {
	vertical-align: middle;
}
.userName {
	padding-top: 10px;
}

.func {
	padding-top: 10px: 
}

.headMenu td{
	padding: 10px;
}

td:hover {
	background-color: #D8DAD7;
	cursor: pointer;
}

.down {
	height: 40px;
	width: 40px;
	float: left;
	padding: 0 15px;
	transform: rotate(180deg);
}

.down:hover {
	transform: rotate(360deg);
}

.userMenu tr:hover {
	background-color: #D8DAD7;
	cursor: pointer;
}

.rightMenu hr {
	left: 0;
	width: 90%;
}

.two {
	width: 100%;
}

table {
	border-collapse: collapse;
}

/*конец*/

/*Стандартные настройки ссылок*/
a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: #003399;
}
/*конец*/
/*Основные классы/блоки*/
.class,
.hotel {
	min-width: 545px;
	margin-left: 18%;
	margin-right: 18%;
}

.class1 {
	background-color: white;
	padding-bottom: 1%;
	border: 1px solid #4EC021;
	display: block;
	box-shadow: 0 0 0,2px 0 2px #d5d5d5,
					-2px 0 2px #d5d5d5,
					0 2px 2px #d5d5d5;
}
.class1:first-child {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;

}

.class1:last-child {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	box-shadow: 2px 0 2px #d5d5d5,	
				-2px 0 2px #d5d5d5,
				0 2px 2px #d5d5d5;
	margin-bottom: 10px;
}

.class1:hover em {
	opacity: 1;
	color: blue;
}

.class1:hover .color {
	opacity: 1;
	color: blue;
}

.class1 > a {
	color: #257EFE;
}

#selected,
#history,
#deletedBlocks {
	display: none;
}

.grey {
	color: grey;
}
/*конец*/

/*Стили картинок*/
.image {
	height: 100px;
	width: 100px;
	margin: 7px 7px 7px 7px;
	border: 2px solid white;
	float: left;
}
/*конец*/

/*Закрывает большую часть описания*/
.more {
	display: none;
}
/*конец*/

/*Стили заголовков*/
h3 {
	text-align: center;
	color: red;
}

h4 {
	text-align: center;
}
/*конец*/

/*Добавление нового отеля*/
.hotel {
	display: none;
}
/*конец*/

/*Кнопка сохранить/отмена*/
a.cancel {
	font-weight: 700;
	color: white;
	text-decoration: none;
	padding: .8em 1em calc(.8em + 3px);
	border-radius: 3px;
	background: rgb(248,93,89);
	box-shadow: 0 -3px rgb(244,52,47) inset;
	transition: 0.2s;
	float: right;
} 

a.cancel:hover { 
	background: rgb(244,52,47); 
}

a.cancel:active {
	background: rgb(201,18,13);
	box-shadow: 0 3px rgb(201,18,13) inset;
}

a.save {
	font-weight: 700;
	color: white;
	text-decoration: none;
	padding: .8em 1em calc(.8em + 3px);
	border-radius: 3px;
	background: rgb(64,199,129);
	box-shadow: 0 -3px rgb(53,167,110) inset;
	transition: 0.2s;
	float: right;
} 

a.save:hover { 
	background: rgb(53, 167, 110); 
}

a.save:active {
	background: rgb(33,147,90);
	box-shadow: 0 3px rgb(33,147,90) inset;
}
/*конец*/

/*Настройка формы*/
fieldset {
	border-color: #E3FDDD;
	border-radius: 10px;
}

textarea {
	resize: none;
	width: 100%;
	height:150px;	
}
/*конец*/

/*Обтекание*/
.left {
	float: left;
	width: 50%;
}

.rightText {
	text-align: right;
}

.right {
	float: right;
}
/*конец*/

/*стили для картинки удаления*/
.close {
	display: none;
	float: right;
}

.close img {
	width: 20px;
	height: 20px;
}
/*конец*/

/*Стили для меню/подменю*/
.menu {
	font-family: Gabriola;
	line-height: 1.3;
	font-size: 20px;
	margin-left: 1%;
	background-color: #FF6600;
	position: absolute;
	position: fixed;
	border: 2px solid #9C9C9C;
	border-radius: 10px;
}

ol li {
	margin: 0 10px;
	list-style-type: none;
}

#podMenuDeleted,
#podMenuHistory {
	height: -10px;
	position: relative;
	display: none;
}

.red a:active {
	color: red;
}
/*конец*/